In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date, datetime,timedelta
import yfinance as yf
from mpl_finance import candlestick_ohlc
import matplotlib.dates as mdates

In [47]:
chamada_api = yf.Ticker('PETR4.SA').history(period='1mo')
chamada_api

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-17 00:00:00-03:00,26.670000,26.670000,26.370001,26.440001,61085700,0.0,0.0
2023-02-22 00:00:00-03:00,26.000000,26.110001,25.690001,25.760000,38608500,0.0,0.0
2023-02-23 00:00:00-03:00,25.770000,26.790001,25.770000,26.549999,73913400,0.0,0.0
2023-02-24 00:00:00-03:00,26.670000,26.700001,25.870001,25.900000,64409100,0.0,0.0
2023-02-27 00:00:00-03:00,25.840000,26.740000,25.809999,26.150000,76250600,0.0,0.0
2023-02-28 00:00:00-03:00,26.209999,26.920000,25.240000,25.240000,130248100,0.0,0.0
2023-03-01 00:00:00-03:00,25.309999,25.430000,24.190001,25.299999,109257700,0.0,0.0
2023-03-02 00:00:00-03:00,25.420000,25.670000,24.370001,24.639999,124516200,0.0,0.0
2023-03-03 00:00:00-03:00,24.830000,25.740000,24.450001,25.700001,87591800,0.0,0.0
2023-03-06 00:00:00-03:00,25.700001,26.120001,25.370001,25.959999,50227400,0.0,0.0
2023-03-07 00:00:00-03:00,25.719999,25.780001,24.930000,25.100000,59052500,0.0,0.0
2023-03-08 00:00:00-03:00,25.150000,25.920000,25.129999,25.420000,66220400,0.0,0.0
2023-03-09 00:00:00-03:00,25.350000,26.230000,25.280001,25.309999,68042300,0.0,0.0
2023-03-10 00:00:00-03:00,25.160000,25.580000,24.940001,24.980000,48118600,0.0,0.0
2023-03-13 00:00:00-03:00,24.549999,24.860001,24.100000,24.190001,58605500,0.0,0.0
2023-03-14 00:00:00-03:00,24.280001,24.730000,23.600000,23.760000,58916700,0.0,0.0
2023-03-15 00:00:00-03:00,23.330000,23.480000,22.799999,23.340000,93708800,0.0,0.0
2023-03-16 00:00:00-03:00,23.400000,23.520000,22.969999,23.260000,66821000,0.0,0.0
2023-03-17 00:00:00-03:00,23.100000,23.510000,22.860001,23.510000,91793300,0.0,0.0

In [ ]:
symbol_list = ['PETR4.SA','USIM5.SA','CSNA3.SA','SBSP3.SA']

df1 = pd.DataFrame()
contador = 0
datas = []
for ativo in symbol_list:
    chamada_api = yf.Ticker(ativo).history(period='36mo')
    closes = chamada_api['Close'].values
    df1[ativo] = closes
    if contador == 0:
        contador += 1
        datas.append(list(chamada_api.index))

df1['Datas'] = datas[0]
df1 = df1.set_index('Datas', drop=True)
df1

In [ ]:
df1.plot(figsize = (15,10))

In [ ]:
df1_log_returns = np.log(df1 / df1.shift(1)).fillna(0)
df1_log_returns.describe()

In [ ]:
fig2, [ax1,ax2] = plt.subplots(2,1, figsize = (15,15))

for ativo in symbol_list:
    ax1.plot(datas[0],df1_log_returns[ativo].values)
    ax2.hist(df1_log_returns[ativo].values,bins = 50)

ax2.legend(symbol_list)
plt.show()

In [45]:
symbol_list_ibrx = list(pd.read_csv('ibrx.csv',delimiter=";").index)
symbol_list_ibrx

['RRRP3',
 'ALSO3',
 'ALPA4',
 'ABEV3',
 'ARZZ3',
 'ASAI3',
 'AURE3',
 'AZUL4',
 'B3SA3',
 'BPAN4',
 'BBSE3',
 'BBDC3',
 'BBDC4',
 'BRAP4',
 'BBAS3',
 'BRKM5',
 'BRFS3',
 'BPAC11',
 'CRFB3',
 'CBAV3',
 'CCRO3',
 'CMIG4',
 'CIEL3',
 'COGN3',
 'CPLE6',
 'CSAN3',
 'CPFE3',
 'CMIN3',
 'CVCB3',
 'CYRE3',
 'DXCO3',
 'ECOR3',
 'ELET3',
 'ELET6',
 'EMBR3',
 'ENAT3',
 'ENBR3',
 'ENGI11',
 'ENEV3',
 'EGIE3',
 'EQTL3',
 'EZTC3',
 'FLRY3',
 'GGBR4',
 'GOAU4',
 'GOLL4',
 'GMAT3',
 'NTCO3',
 'SOMA3',
 'HAPV3',
 'HYPE3',
 'IGTI11',
 'ITSA4',
 'ITUB4',
 'JBSS3',
 'KLBN11',
 'RENT3',
 'LWSA3',
 'LREN3',
 'MDIA3',
 'MGLU3',
 'MRFG3',
 'CASH3',
 'BEEF3',
 'MOVI3',
 'MRVE3',
 'MULT3',
 'PCAR3',
 'PETR3',
 'PETR4',
 'RECV3',
 'PRIO3',
 'PETZ3',
 'PSSA3',
 'QUAL3',
 'RADL3',
 'RAIZ4',
 'RDOR3',
 'RAIL3',
 'SBSP3',
 'SANB11',
 'STBP3',
 'SMTO3',
 'CSNA3',
 'SLCE3',
 'SUZB3',
 'TAEE11',
 'VIVT3',
 'TIMS3',
 'TOTS3',
 'TRPL4',
 'UGPA3',
 'USIM5',
 'VALE3',
 'VAMO3',
 'VIIA3',
 'VBBR3',
 'WEGE3',
 'YDUQ3']

In [ ]:
df_scan = pd.DataFrame()
for ativo in symbol_list_ibrx:
    df2 =pd.DataFrame()
    chamada_api = yf.Ticker(ativo+'.SA')
    closes = chamada_api.history(period='36mo')['Close'].values
    dividendos = chamada_api.history(period='36mo')['Dividends'].values
    datas = list(chamada_api.history(period='36mo').index)
    

    df2['Closes'] = closes
    df2['Dividendos'] = dividendos
    df2['Datas'] = datas
    df2 = df2.set_index('Datas',drop = True)

    soma_dividendos = 0

    for k,v in df2.iterrows():
        if k.year == 2020 or k.year == 2021:
            soma_dividendos += v['Dividendos']
    
    dividend_yield = ((soma_dividendos/2) / df2['Closes'].values[-1] )*100

    df_scan[ativo] = [dividend_yield]

df_scan.transpose().sort_values(by = 0,ascending=False)[:20]

In [49]:
# Dados das velas
data = [(mdates.date2num(date),  x['Open'],  x['High'],  x['Low'], x['Close']) for x in chamada_api]

# Criação do gráfico
fig, ax = plt.subplots()

# Configuração dos eixos
ax.xaxis_date()
ax.autoscale_view()

# Definição dos parâmetros das velas
candlestick_ohlc(ax, data, width=0.6, colorup='green', colordown='red')

# Exibição do gráfico
plt.show()

TypeError: an integer is required (got type getset_descriptor)