# Importação das Bibliotecas

In [1]:
import pandas as pd

In [2]:
pd.set_option("display.max_rows", None)

# Importação dos Dados

In [3]:
# Ler Excel
data_frame= pd.read_excel(r'C:\Users\igor.malta\Downloads\New Case BA.xlsx', 
                                   sheet_name='Case')

In [4]:
# ver o tamanho do dataframe

data_frame.shape

(35787, 14)

# Visualização Inicial dos Dados

In [5]:
# Ver os 5 primeiros dados registrados

data_frame.head()

,email,user_id,event,lead_age,signup,signup _date,country,Office,intention,lifetime_comission_creator,lifetime_comission_affiliate,type_of_user,segmentation,Product Niche
0,2626920@hotemail.com,2626920.0,NaN,31.0,Y,2014-06-20,Brazil,Brazil,Producer,132036645.0,0.0,Producer,Star,Health and Sports
1,21882152@hotemail.com,21882152.0,a1,32.0,Y,2017-10-11,Brazil,Brazil,Producer,41352061.0,0.0,Producer,Star,Education
2,7932372@hotemail.com,7932372.0,a1,28.0,Y,2015-11-04,Brazil,Brazil,Producer,31278179.0,0.0,Producer,Star,Education
3,7076936@hotemail.com,7076936.0,a1,30.0,Y,2015-09-11,Brazil,Brazil,Producer,20078091.0,0.0,Producer,Star,Education
4,11628384@hotemail.com,11628384.0,c3,29.0,Y,2016-05-10,Brazil,Brazil,Producer,17329014.0,0.0,Producer,Star,Education

# Verificar a Integridade dos Dados

In [6]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35787 entries, 0 to 35786
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   email                         35787 non-null  object
 1   user_id                       22677 non-null  float64
 2   event                         32551 non-null  object
 3   lead_age                      32579 non-null  float64
 4   signup                        35787 non-null  object
 5   signup _date                  22677 non-null  object
 6   country                       32579 non-null  object
 7   Office                        22677 non-null  object
 8   intention                     32579 non-null  object
 9   lifetime_comission_creator    22677 non-null  float64
 10  lifetime_comission_affiliate  22676 non-null  float64
 11  type_of_user                  21646 non-null  object
 12  segmentation                  22677 non-null  object
 13  Product Niche                 18254 non-null  object
dtypes: float64(4), object(10)
memory usage: 3.8+ MB

In [7]:
data_frame.isnull().sum().sort_values(ascending=False).head(13)

Product Niche                   17533
type_of_user                    14141
lifetime_comission_affiliate    13111
user_id                         13110
signup _date                    13110
Office                          13110
lifetime_comission_creator      13110
segmentation                    13110
event                            3236
lead_age                         3208
country                          3208
intention                        3208
email                               0
dtype: int64

# Pré-Processamento

In [8]:
data_frame['user_id'] = data_frame['user_id'].astype('object')

In [9]:
# ver a quantidade de cada valor da variavel ds_campo_variavel_4

data_frame['type_of_user'].value_counts(dropna=False)

Hybrid       15668
NaN          14141
Producer      4090
Affiliate     1888
Name: type_of_user, dtype: int64

In [10]:
# ver a porcentagem de cada valor da variavel ds_campo_variavel_4

data_frame['type_of_user'].value_counts('mean', dropna=False)*100

Hybrid       43.781261
NaN          39.514349
Producer     11.428731
Affiliate     5.275659
Name: type_of_user, dtype: float64

## Substituir os valores nulos de colunas numéricas

### Para coluna soma_mb_trafegado, vamos substituir os valores nulos pela média ou mediana?

### Preencher coluna Venda

### Excluir os Valores nulos

In [11]:
# Excluir os Valores nulos

data_frame.dropna(subset=['type_of_user'], inplace=True)

In [12]:
data_frame.isnull().sum().sort_values(ascending=False).head(13)

Product Niche                   3392
event                             28
lifetime_comission_affiliate       1
email                              0
user_id                            0
lead_age                           0
signup                             0
signup _date                       0
country                            0
Office                             0
intention                          0
lifetime_comission_creator         0
type_of_user                       0
dtype: int64

In [13]:
 data_frame.loc[(data_frame["lifetime_comission_affiliate"]>0) 
    & (data_frame["lifetime_comission_creator"]>0),'type_of_user']= 'Hybrid'

In [ ]:
 data_frame.loc[(data_frame["lifetime_comission_affiliate"]==0) 
    & (data_frame["lifetime_comission_creator"]==0),'type_of_user']= 'excluir'

In [ ]:
data_frame.drop(data_frame[data_frame['type_of_user'] == 'excluir' ].index, inplace=True)

In [ ]:
data_frame.loc[data_frame["lifetime_comission_affiliate"]<0,'lifetime_comission_affiliate'] = 0

In [ ]:
data_frame.loc[data_frame["lifetime_comission_creator"]<0,'lifetime_comission_creator'] = 0

In [ ]:
data_frame["lifetime_comission_affiliate"].fillna(0, inplace=True)

In [ ]:
data_frame.isnull().sum().sort_values(ascending=False).head(13)

## Substituir os valores nulos de colunas categóricas

# Outliers !

In [ ]:
# plotar histograma

data_frame.hist(bins=200, figsize=(15,10));

In [ ]:
data_frame.describe()

## soma_recarga

In [ ]:
# Verificar o limite inferior e superior creator

q1_linha = data_frame.lifetime_comission_creator.quantile(.25)
q3_linha = data_frame.lifetime_comission_creator.quantile(.75)
Iqr_linha = q3_linha - q1_linha
sup_linha = q3_linha + 1.5*Iqr_linha
inf_linha = q1_linha - 1.5*Iqr_linha

print("Iqr da variável soma_recarga: ", Iqr_linha)
print("Limite Superior de atributo: ", sup_linha)
print("Limite Inferior de atributo: ", inf_linha)

In [ ]:
# boxplot creator

data_frame.lifetime_comission_creator.plot(kind='box', vert=False, figsize=(15, 3))
plt.show()

# Ver quantidade de valores 
print("soma_recarga: valores acima de 540373,34:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_creator>540373.3499999975])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_creator>540373.3499999975]) / data_frame.shape[0])*100))
print("soma_recarga: valores abaixo de -307518,40:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_creator<-307518.4099999985])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_creator<-307518.4099999985]) / data_frame.shape[0])*100))

## soma_mb_trafegado

In [ ]:
# Verificar o limite inferior e superior affiliate

q1_linha = data_frame.lifetime_comission_affiliate.quantile(.25)
q3_linha = data_frame.lifetime_comission_affiliate.quantile(.75)
Iqr_linha = q3_linha - q1_linha
sup_linha = q3_linha + 1.5*Iqr_linha
inf_linha = q1_linha - 1.5*Iqr_linha

print("Iqr da variável soma_recarga: ", Iqr_linha)
print("Limite Superior de atributo: ", sup_linha)
print("Limite Inferior de atributo: ", inf_linha)

In [ ]:
# boxplot affiliate

data_frame.lifetime_comission_affiliate.plot(kind='box', vert=False, figsize=(15, 3))
plt.show()

# Ver quantidade de valores 
print("soma_recarga: valores acima de 410893,62:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_affiliate>410893.625])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_affiliate>410893.625]) / data_frame.shape[0])*100))
print("soma_recarga: valores abaixo de -235611,37:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_affiliate<-235611.375])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_affiliate<-235611.375]) / data_frame.shape[0])*100))

In [ ]:
# Excluir os outliers creator

data_frame.drop(data_frame[data_frame['lifetime_comission_creator'] >540373.349999997].index, inplace=True)

In [ ]:
# Excluir os outliers affiliate

data_frame.drop(data_frame[data_frame['lifetime_comission_affiliate'] >410893.625].index, inplace=True)

In [ ]:
data_frame.shape

In [ ]:
# boxplot affiliate tratado

data_frame.lifetime_comission_affiliate.plot(kind='box', vert=False, figsize=(15, 3))
plt.show()

# Ver quantidade de valores 
print("soma_recarga: valores acima de 410893,62:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_affiliate>410893.625])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_affiliate>410893.625]) / data_frame.shape[0])*100))
print("soma_recarga: valores abaixo de -235611,37:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_affiliate<-235611.375])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_affiliate<-235611.375]) / data_frame.shape[0])*100))

In [ ]:
# boxplot creator tratado

data_frame.lifetime_comission_creator.plot(kind='box', vert=False, figsize=(15, 3))
plt.show()

# Ver quantidade de valores 
print("soma_recarga: valores acima de 540373,34:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_creator>540373.3499999975])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_creator>540373.3499999975]) / data_frame.shape[0])*100))
print("soma_recarga: valores abaixo de -307518,40:")
print("Entradas: {}".format(len(data_frame[data_frame.lifetime_comission_creator<-307518.4099999985])))
print("Porcentagem: {:.4f}%".format((len(data_frame[data_frame.lifetime_comission_creator<-307518.4099999985]) / data_frame.shape[0])*100))

In [ ]:
# plotar histograma sem outliers

data_frame.hist(bins=200, figsize=(15,10));

In [ ]:
data_frame.to_excel(r'C:\Users\igor.malta\Downloads\New Case tratada.xlsx',
             sheet_name='tratada')