## Este teste ser√° divido em tr√™s partes. Ser√£o avaliadas no√ß√µes de neg√≥cios, no√ß√µes de SQL e no√ß√µes de constru√ß√£o de dashboards.

Na primeira parte voc√™ responder√° perguntas sobre no√ß√µes de neg√≥cio. Em seguida responder√° perguntas relacionadas ao desenvolvimento de consultas SQL. E por fim voc√™ dever√° construir um dashboard que responda as perguntas de neg√≥cio e traga novos insigths sobre os dados apresentados.

**Voc√™ pode entregar at√© onde conseguir fazer o teste, at√© mesmo propor outras solu√ß√µes que achar necess√°rio. N√£o fique preso apenas ao que √© solicitado!** üòÄ

## No√ß√µes de Neg√≥cios

Aqui vamos avaliar quest√µes do dia a dia, sobre como lidar com a equipe e o cliente.

1. Voc√™ √© designado para um cliente com o objetivo de desenvolver um dashboard para a equipe Comercial. Voc√™ nunca trabalhou com este cliente e n√£o tem contexto dos dados. Quais seriam seus passos para o desenvolvimento do trabalho?

1 - Entender as regras de neg√≥cio da √°rea comercial, assim como os processos atuais.

2 - Conversar com o cliente sobre as dores, as demandas e as expectativas relacionadas a parte de BI da √°rea.

3 - Definir m√©tricas e KPIs.

4 - Esbo√ßar os visuais para esse relat√≥rio com ferramentas visuais para que possamos utilizar um template validado na constru√ß√£o.

5 - An√°lise da base de dados e desenvolvimento da ETL verificando aspectos de performance e armazenamento.

6 - Incorpora√ß√£o das bases tratadas no PowerBI e continua√ß√£o do seu desenvolvimento.

7 - 1¬™ homologa√ß√£o dos dados.

8 - 2¬™ etapa de homologa√ß√£o com apresenta√ß√£o do projeto junto ao cliente.

9 - Feedbacks.

2. Como voc√™ tra√ßaria um processo de valida√ß√£o de dados e consistencia das regras de neg√≥cio implementadas?

An√°lise de controles anteriores, confer√™ncia com o CRM e o pr√≥prio banco de dados do cliente. √â interessante duas pessoas conferirem as m√©tricas do dashboard para evitar v√≠cios.

3. O seu time j√° teve v√°rias reuni√µes com o cliente sobre o direcionamento do projeto e finalmente voc√™ recebeu os dados para trabalhar. Assim que come√ßou a fazer as an√°lises voc√™ encontra v√°rias inconsist√™ncias que ir√£o influenciar na qualidade final da entrega. Como voc√™ agiria nessa situa√ß√£o?

Os problemas em bases de dados devem ser corrigidos na fonte. Seria o caso de reportar e fazer com que a equipe de consultoria e o cliente cheguem na solu√ß√£o mais escal√°vel.

4. Em uma reuni√£o, o cliente pediu para voc√™ adicionar uma visualiza√ß√£o completamente nova no dashboard que est√° desenvolvendo.  Essa demanda, levaria muitas horas e um grande esfor√ßo. Voc√™ ainda possui muitas tarefas para finalizar e o prazo de entrega est√° bem apertado. Como voc√™ lidaria com essa situa√ß√£o?

Nesse caso, os conceitos praticados na metodologia √°gil entram em vigor. No Scrum, trabalhamos com pequenas entregas dentro da sprint planejada. Um pedido que foge do escopo deve ser avaliado, atribu√≠do uma prioridade e acrescido no planejamento como uma story ou uma ondemand. Ent√£o, entregaria a demanda oficial, entenderia a demanda que foi solicitada e faria a homologa√ß√£o do que estava previsto junto ao cliente e negociaria os prazos entendendo a urg√™ncia.

5. Como voc√™ prepararia uma entrega de um dashboard para o cliente?

Em conson√¢ncia com a resposta n¬∫ 1, ap√≥s uma primeira etapa de valida√ß√£o, seria comunicado a finaliza√ß√£o do projeto com a formaliza√ß√£o das caracter√≠sticas. A partir disso, agendar√≠amos uma reuni√£o para que pud√©ssemos chegar a segunda etapa de valida√ß√£o de usu√°rio final, a fim de selar o "p√≥s venda".

# TESTE PR√ÅTICO DE LINGUAGEM DE CONSULTA ESTRUTURADA (SQL)
Para a realiza√ß√£o das atividades, voc√™ dever√° executar as instru√ß√µes abaixo para importar as bibliotecas e fun√ß√µes necess√°rias para criar a base de dados.

Ao final, esperamos que voc√™ desenvolva os c√≥digos selecionados e entregue o notebook com as consultas SQL desenvolvidas e o arquivo .db criado.

O teste importar√° tr√™s arquivos cruciais para o desenvolvimento dessa atividade. Todos est√£o no Githun (n√£o mude as URL's).

*   usuarios.csv
*   produtos.csv
*   vendas.csv

## O teste foi desenvolvido para ser executado com o SQLite3 e no Google Colab (Ubuntu 18.04). Voc√™ dever√° utilizar consultas no padr√£o ANSI. Os comandos necess√°rios podem ser encontrados em:

https://www.sqlite.org/docs.html

https://www.tutorialspoint.com/sqlite/index.htm

# AVISO!



1.   Execute o c√≥digo abaixo para atualizar a biblioteca do SQLite3 utilizada para essa atividade
2.   **Ignore as mensagens de erro sobre perda de conectividade na instru√ß√£o abaixo (o kernel ser√° reiniciado para atualiza√ß√£o do SQLite3)**

In [ ]:
import os

# BAIXAR A √öLTIMA RELEASE DO COLAB, DESCOMPACTAR E INSTALAR NO DIRET√ìRIO DO 
# PYTHON 3.7 (VERS√ÉO USADA PELO COLAB NESSE NOTEBOOK)
!curl https://www.sqlite.org/src/tarball/sqlite.tar.gz?r=release | tar xz
%cd sqlite/
!./configure
!make sqlite3.c
%cd /content/sqlite/
!npx degit coleifer/pysqlite3 -f
!cp sqlite/sqlite3.[ch] .
!python setup.py build_static build
!cp build/lib.linux-x86_64-3.7/pysqlite3/_sqlite3.cpython-37m-x86_64-linux-gnu.so \
     /usr/lib/python3.7/lib-dynload/

# REINICIANDO O KERNEL DO COLAB PARA IMPORTAR A BIBLIOTECA ATUALIZADA
os.kill(os.getpid(), 9)

[WinError 2] O sistema n√£o pode encontrar o arquivo especificado: 'sqlite/'
C:\Users\igor.malta\OneDrive - PSP INTERMEDIACAO DE SERVICOS LTDA\Documentos\Python

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0tar: Error opening archive: Failed to open '\\.\tape0'

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 11.2M    0 16384    0     0  12999      0  0:15:08  0:00:01  0:15:07 13013
curl: (23) Failure writing output to destination
'.' n√Üo ‚Äö reconhecido como um comando interno
ou externo, um programa oper¬†vel ou um arquivo em lotes.

[WinError 3] O sistema n√£o pode encontrar o caminho especificado: '/content/sqlite/'
C:\Users\igor.malta\OneDrive - PSP INTERMEDIACAO DE SERVICOS LTDA\Documentos\Python

'make' n√Üo ‚Äö reconhecido como um comando interno
ou externo, um programa oper¬†vel ou um arquivo em lotes.
npm WARN config global `--global`, `--local` are deprecated. Use `--location=global` instead.
npm WARN exec The following package was not found and will be installed: degit
> destination directory is not empty. Using --force, continuing
> cloned coleifer/pysqlite3#HEAD
'cp' n√Üo ‚Äö reconhecido como um comando interno
ou externo, um programa oper¬†vel ou um arquivo em lotes.

running build_static
Builds a C extension using a sqlite3 amalgamation
Sqlite amalgamation not found. Please download or build the amalgamation and make sure the following files are present in the pysqlite3 folder: sqlite3.h, sqlite3.c

In [6]:
import os

# INSTRU√á√ïES PARA REALIZAR AS CONSULTAS
### PARA CONSULTAR DADOS, SIGA OS PASSOS ABAIXO:

#### Abrir conex√£o:
    conexao_sql = sqlite3.connect(banco)
#### Abrir cursor para executar consulta no banco:
    cursor = conexao_sql.cursor()
#### Criar uma consulta:
    consulta = '''
        Coloque aqui a sua instru√ß√£o SQL;
    '''
    cursor.execute(consulta)
#### Para visualizar o resultado da sua consulta:
    for linha in cursor:
      print(linha)
#### Para fechar a conex√£o:
    conexao_sql.close()

### LEMBRE-SE DE QUE PYTHON √â SENS√çVEL A IDENTA√á√ÉO DE C√ìDIGO!

# IMPORTANDO BIBLIOTECAS NECESS√ÅRIAS PARA EXECUTAR OS C√ìDIGOS EM SQL

In [2]:
import sqlite3
import csv
import requests
from pathlib import Path
from urllib.parse import urlparse

# DEFINI√á√ÉO DE VARI√ÅVEIS FIXAS PARA O PROJETO

In [3]:
banco = "teste_sql.db"

# FUN√á√ÉO PARA INSERIR REGISTROS NO BANCO DE DADOS

In [3]:
# Recebe como par√¢metro
# 1. Nome do banco de dados
# 2. Nome da tabela que receber√° os dados
# 3. Lista das colunas da tabela
# 4. Dados que ser√£o inseridos

def inserir_registros(banco, tabela, lista_colunas, arquivo):
  conexao_sql = sqlite3.connect(banco)
  cursor = conexao_sql.cursor()
  dados = open(arquivo)
  conteudo_dados = csv.reader(dados)
  num_colunas = 1 if lista_colunas.count(',') == 1 else lista_colunas.count(',')
  string_insert = 'INSERT INTO ' + tabela + ' (' + lista_colunas + ') VALUES (?' + ('' if num_colunas == 1 else ', ?' * (num_colunas)) + ')'
  cursor.executemany(string_insert, conteudo_dados)
  conexao_sql.commit()
  conexao_sql.close()

# FUN√á√ÉO PARA BAIXAR A BASE DE DADOS UTILIZADA PARA DESENVOLVIMENTO DAS ATIVIDADES

In [4]:
# Recebe como par√¢metro:
# 1. Nome do arquivo com a extens√£o (Ex: base.csv)
# 2. URL do site onde o dado est√° localizado (Ex: 'https://drive.google.com/user_teste/folder_dataset/file.csv'):

def baixar_dados(nome_arquivo, url):
  requisicao = requests.get(url)
  conteudo = requisicao.content
  arquivo_csv = open(nome_arquivo, 'wb')
  arquivo_csv.write(conteudo)
  arquivo_csv.close()

# CRIA√á√ÉO DE CONEX√ÉO COM O BANCO SQLITE3 PARA DESENVOLVIMENTO DA ATIVIDADE

In [8]:
# Abre conex√£o com o banco. Se o arquivo n√£o existir, cria a base.
conexao_sql = sqlite3.connect(banco)
conexao_sql.close()

# CRIA√á√ÉO DAS TABELAS PARA REALIZA√á√ÉO DAS ATIVIDADES

### TABELA DE USU√ÅRIOS

In [41]:
import pandas as pd

dados = pd.read_csv(r'C:\Users\igor.malta\Downloads\usuarios.csv',  delimiter = ",")
dados.isnull().sum().sort_values(ascending=False).head(13)

cod_usuario      2162
data_cadastro    2162
faixa_etaria     2162
cidade           2162
estado           2162
dtype: int64

In [42]:
dados.dropna(subset=['cod_usuario'], inplace=True)

In [43]:
dados.isnull().sum().sort_values(ascending=False).head(13)

cod_usuario      0
data_cadastro    0
faixa_etaria     0
cidade           0
estado           0
dtype: int64

In [52]:
conexao_sql = sqlite3.connect(banco)
dados.to_sql('usuarios', con=conexao_sql, if_exists = 'append', index = False)

## O c√≥digo abaixo estava gerando erro de 'charmap'. O c√≥digo n√£o possu√≠a erro algum ent√£o analisei a base. A minha escolha foi utilizar o Pandas, e claro, j√° havia uma suspeita de que existiam valores nulos no CSV. De fato, as linhas nulas estavam causando falha no insert de uma tabela que est√° modelada para n√£o receber registros nulos. Sendo assim, dropei os valores nulos que por quebra de linha do arquivo csv, o SQLite estava considerando como registro, e trouxe o m√©todo que insere o dataframe em uma tabela. Assim, com a conex√£o e o nome da tabela j√° criada, importei os valores.

In [47]:
url = 'https://raw.githubusercontent.com/A3Data/testes_praticos/main/sql/base_dados/usuarios.csv'
nome_arquivo = Path(urlparse(url).path).name
baixar_dados(nome_arquivo, url)



conexao_sql = sqlite3.connect(banco)
# CRIAR A TABELA
conexao_sql.execute('''
CREATE TABLE IF NOT EXISTS usuarios
(
  cod_usuario INTEGER NOT NULL,
  data_cadastro DATE NOT NULL,
  faixa_etaria TEXT,
  cidade TEXT NOT NULL,
  estado TEXT NOT NULL);'''
)
conexao_sql.commit()


# INSERIR OS REGISTROS NO BANCO DE DADOS
lista_campos = 'cod_usuario, data_cadastro, faixa_etaria, cidade, estado'
inserir_registros(banco, 'usuarios', lista_campos,nome_arquivo)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 6656: character maps to <undefined>

### TABELA DE PRODUTOS

In [7]:
url = 'https://raw.githubusercontent.com/A3Data/testes_praticos/main/sql/base_dados/produtos.csv'
nome_arquivo = Path(urlparse(url).path).name
baixar_dados(nome_arquivo, url)

conexao_sql = sqlite3.connect(banco)
arquivo_produtos = 'produtos.csv'
# CRIAR A TABELA
conexao_sql.execute('''
CREATE TABLE IF NOT EXISTS produtos
(
  cod_produto INTEGER NOT NULL,
  nome_produto TEXT NOT NULL,
  categoria_produto TEXT,
  valor_produto FLOAT);'''
)
conexao_sql.commit()

# INSERIR OS REGISTROS NO BANCO DE DADOS
lista_campos = 'cod_produto, nome_produto, categoria_produto, valor_produto'
inserir_registros(banco, 'produtos', lista_campos, arquivo_produtos)

### TABELA DE VENDAS

In [8]:
url = 'https://raw.githubusercontent.com/A3Data/testes_praticos/main/sql/base_dados/vendas.csv'
nome_arquivo = Path(urlparse(url).path).name
baixar_dados(nome_arquivo, url)

conexao_sql = sqlite3.connect(banco)
arquivo_vendas = 'vendas.csv'
# CRIAR A TABELA
conexao_sql.execute('''
CREATE TABLE IF NOT EXISTS vendas
(
  cod_usuario INTEGER NOT NULL,
  cod_produto INTEGER NOT NULL,
  data_compra DATE NOT NULL,
  quantidade INT NOT NULL,
  valor FLOAT NOT NULL);'''
)
conexao_sql.commit()

# INSERIR OS REGISTROS NO BANCO DE DADOS
lista_campos = 'cod_usuario, cod_produto, data_compra, quantidade, valor'
inserir_registros(banco, 'vendas', lista_campos, arquivo_vendas)

## Pergunta 1:


 Escreva um comando em SQL que retorne a quantidade de vendas dos estados de Minas Gerais e S√£o Paulo por ano e m√™s

In [10]:
cursor = conexao_sql.cursor()
consulta = '''
 select 
     strftime('%Y-%m', v.data_compra),
     count(v.cod_usuario) as quantidade
 from vendas as v
 inner join usuarios as u on v.cod_usuario = u.cod_usuario
 where u.estado in ('Minas Gerais', 'S√£o Paulo')
 group by 1
 order by 1;

'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

('2018-06', 1)
('2018-07', 1)
('2018-08', 1)
('2018-10', 2)
('2018-11', 1)
('2018-12', 2)
('2019-01', 2)
('2019-02', 1)
('2019-04', 2)
('2019-05', 1)
('2019-06', 2)
('2019-07', 2)
('2019-08', 2)
('2019-09', 2)
('2019-10', 1)
('2019-11', 1)
('2019-12', 3)
('2020-01', 2)
('2020-02', 1)
('2020-03', 2)
('2020-04', 2)
('2020-05', 3)
('2020-06', 4)
('2020-07', 2)
('2020-09', 5)
('2020-10', 5)
('2020-11', 3)
('2020-12', 1)
('2021-01', 2)
('2021-02', 7)
('2021-03', 2)
('2021-04', 9)
('2021-05', 6)
('2021-06', 9)
('2021-07', 16)

## Pergunta 2:

Escreva um comando em SQL que retorne a quantidade de compras realizadas dos usu√°rios que fizeram compras entre 2019 e 2020.

In [13]:
cursor = conexao_sql.cursor()
consulta = '''
 select 
     count(v.cod_usuario) as quantidade
 from vendas as v
 inner join usuarios as u on v.cod_usuario = u.cod_usuario
 where v.data_compra between '2019-01-01' and '2019-12-31';
'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

(70,)

## Pergunta 3:

 Escreva um comando em SQL que retorne quais s√£o os 10 produtos mais vendidos em todo o periodo considerado.

In [15]:
cursor = conexao_sql.cursor()
consulta = '''
 select 
     p.nome_produto
 from vendas as v
 inner join produtos as p on v.cod_produto = p.cod_produto
 group by 1
 order by sum(v.quantidade) desc
 limit 10;
'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

('Microoondas 35L',)
('Mochila Targus',)
('SPA Intel 700 L',)
('SmartTV Samsung 4K 55 polegadas',)
('Ar-condicionado 9500 BTUs LG',)
('Len√É¬ßo umedecido Turma da Monica',)
('Escrivaninha em L',)
('Monitor LG 19 pol curvado',)
('Alcool em Gel 70% Johnson',)
('Sofa 3 lugares',)

## Pergunta 4:

 Escreva um comando em SQL que retorne o ticket m√©dio (valor m√©dio das compras) por faixa et√°ria.

In [74]:
cursor = conexao_sql.cursor()
consulta = '''
 select 
     u.faixa_etaria,
     round(avg(v.valor),2) as ticket_medio
 from vendas as v
 inner join usuarios as u on v.cod_usuario = u.cod_usuario
 group by 1;
'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

('Entre 10 a 15 anos', 8890.13)
('Entre 16 a 21 anos', 12725.95)
('Entre 22 a 27 anos', 12203.02)
('Entre 28 a 36 anos', 8233.04)
('Entre 37 a 49 anos', 16727.19)
('Entre 50 a 61 anos', 10849.48)
('Entre 62 a 70 anos', 10012.63)
('Mais de 70 anos', 11303.1)

## Pergunta 5:


Escreva um comando em SQL que retorna o produto, quantos usu√°rios fizeram pelo menos uma compra desse produto e qual √© o valor m√≠nimo e m√°ximo pago

In [17]:
cursor = conexao_sql.cursor()
consulta = '''
 select 
     p.nome_produto,
     count(u.cod_usuario) as quantidade_usuarios,
     min(v.valor) as minimo_valor,
     max(v.valor) as maximo_valor
 from vendas as v
 inner join produtos as p on v.cod_produto = p.cod_produto
 inner join usuarios as u on v.cod_usuario = u.cod_usuario
 group by 1
 order by 1;
'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

('Alcool em Gel 70% Johnson', 36, 4.99, 99.8)
('Aparelho de Barbear OneBlade Philco', 13, 129.9, 2598.0)
('Ar-condicionado 9500 BTUs LG', 13, 1300.49, 24709.31)
('Bicicleta Caloi Aro 29', 15, 2691.56, 26915.6)
('Biscoito Chocolicia Chocolate', 18, 5.0, 100.0)
('Blusa Lacoste', 18, 138.99, 2779.8)
('Cadeira Gamer Xpress', 19, 2099.7, 13298.1)
('Cafeteira Nespresso', 21, 219.57, 3732.69)
('Escrivaninha em L', 27, 874.0, 8740.0)
('Jogo Mortal Kombat 11 PS4', 18, 49.9, 848.3)
('Kit 3 barras de chocolate Alpino', 16, 29.7, 198.0)
('Len√É¬ßo umedecido Turma da Monica', 13, 7.9, 158.0)
('Microoondas 35L', 13, 389.1, 6614.7)
('Mochila Targus', 12, 58.9, 1178.0)
('Monitor LG 19 pol curvado', 28, 584.1, 11097.9)
('Notebook Asus Intel Core i7', 29, 4590.9, 82636.2)
('SPA Intel 700 L', 27, 5999.1, 119982.0)
('SmartTV Samsung 4K 55 polegadas', 13, 2499.9, 42498.3)
('Smartphone Samsung', 12, 4099.0, 40990.0)
('Sofa 3 lugares', 21, 899.9, 17098.1)
('Umidificador de Ar Cadence', 21, 77.5, 1550.0)

## Pergunta 6

Escreva um comando em SQL que verifique usu√°rios que n√£o fizeram nenhuma compra

In [21]:
cursor = conexao_sql.cursor()
# utilizado o limit apenas para n√£o ocupar muito espa√ßo no arquivo de resolu√ß√£o
consulta = '''
 select 
     u.cod_usuario
 from usuarios as u
 left join vendas as v on v.cod_usuario = u.cod_usuario
 where v.cod_usuario is null
 limit 10;
'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

(5098,)
(5229,)
(5482,)
(5504,)
(5614,)
(5923,)
(6985,)
(7901,)
(9980,)
(10080,)

## Pergunta 7:

Escreva um comando em SQL que retorne quais s√£o os 3 produtos mais comprados dos estados da regi√£o Sul e Sudeste, a quantidade de itens comprados, o valor total pago e a m√©dia de pre√ßo paga

In [20]:
cursor = conexao_sql.cursor()
consulta = '''
 select 
     p.nome_produto,
     sum(v.quantidade) as quantidade,
     round(sum(v.valor),2) as total_pago,
     round(avg(v.valor),2) as media_preco_pago
 from vendas as v
 inner join produtos as p on v.cod_produto = p.cod_produto
 inner join usuarios as u on v.cod_usuario = u.cod_usuario
 where u.estado in ('Minas Gerais', 'S√£o Paulo','Esp√≠rito Santo', 'Rio de Janeiro', 'Paran√°', 'Santa Catarina', 'Rio Grande do Sul')
 group by 1
 order by sum(v.quantidade) desc
 limit 3;
'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

('Alcool em Gel 70% Johnson', 280, 1397.2, 53.74)
('Escrivaninha em L', 141, 61617.0, 4739.77)
('Notebook Asus Intel Core i7', 134, 615180.6, 43941.47)

## Pergunta 8

Escreva um comando em SQL que retorne o produto, a quantidade de itens vendidos e a receita do produto que tem mais itens vendidos por ano e m√™s

In [86]:
cursor = conexao_sql.cursor()
consulta = '''
 select 
     p.nome_produto,
     strftime('%Y-%m', v.data_compra),
     sum(v.quantidade) as quantidade,
     round(sum(v.valor),2) as total_pago
 from vendas as v
 inner join (select 
                 v.cod_produto,
                 p.nome_produto,
                 sum(v.quantidade)
                from vendas as v
                inner join produtos as p on v.cod_produto = p.cod_produto
                group by 1, 2
                order by 3 desc
                limit 1) as p on v.cod_produto = p.cod_produto

 group by 1, 2
 order by 2;
'''
cursor.execute(consulta)
for linha in cursor:
  print(linha)

('Microoondas 35L', '2018-01', 1, 389.1)
('Microoondas 35L', '2018-02', 9, 3501.9)
('Microoondas 35L', '2018-03', 31, 12062.1)
('Microoondas 35L', '2018-04', 5, 1945.5)
('Microoondas 35L', '2018-06', 28, 10894.8)
('Microoondas 35L', '2018-07', 2, 778.2)
('Microoondas 35L', '2018-08', 10, 3891.0)
('Microoondas 35L', '2018-09', 49, 19065.9)
('Microoondas 35L', '2018-10', 35, 13618.5)
('Microoondas 35L', '2018-11', 20, 7782.0)
('Microoondas 35L', '2018-12', 28, 10894.8)
('Microoondas 35L', '2019-01', 81, 31517.1)
('Microoondas 35L', '2019-02', 82, 31906.2)
('Microoondas 35L', '2019-03', 57, 22178.7)
('Microoondas 35L', '2019-04', 135, 52528.5)
('Microoondas 35L', '2019-05', 126, 49026.6)
('Microoondas 35L', '2019-06', 41, 15953.1)
('Microoondas 35L', '2019-07', 130, 50583.0)
('Microoondas 35L', '2019-08', 134, 52139.4)
('Microoondas 35L', '2019-09', 191, 74318.1)
('Microoondas 35L', '2019-10', 70, 27237.0)
('Microoondas 35L', '2019-11', 193, 75096.3)
('Microoondas 35L', '2019-12', 207, 80543.7)
('Microoondas 35L', '2020-01', 194, 75485.4)
('Microoondas 35L', '2020-02', 265, 103111.5)
('Microoondas 35L', '2020-03', 246, 95718.6)
('Microoondas 35L', '2020-04', 184, 71594.4)
('Microoondas 35L', '2020-05', 193, 75096.3)
('Microoondas 35L', '2020-06', 317, 123344.7)
('Microoondas 35L', '2020-07', 319, 124122.9)
('Microoondas 35L', '2020-08', 400, 155640.0)
('Microoondas 35L', '2020-09', 382, 148636.2)
('Microoondas 35L', '2020-10', 260, 101166.0)
('Microoondas 35L', '2020-11', 484, 188324.4)
('Microoondas 35L', '2020-12', 397, 154472.7)
('Microoondas 35L', '2021-01', 385, 149803.5)
('Microoondas 35L', '2021-02', 573, 222954.3)
('Microoondas 35L', '2021-03', 587, 228401.7)
('Microoondas 35L', '2021-04', 721, 280541.1)
('Microoondas 35L', '2021-05', 826, 321396.6)
('Microoondas 35L', '2021-06', 846, 329178.6)
('Microoondas 35L', '2021-07', 1234, 480149.4)

# **Constru√ß√£o de dashboard** 


**Seu desafio √© desenvolver uma an√°lise dos dados de vendas disponibilizados pela Data Coporation, com o intuito de gerar insights para os gestores respons√°veis.**

O dashboard dever√° conter apenas uma p√°gina e poder√° ser desenvolvido na ferramenta que se sentir mais a vontade (ex., Power BI, Qlik, Data Studio, Tableau, Superset).

Segue algumas perguntas feitas pelos gestores que devem ser abordadas:

1. Quais as produto com melhores desempenhos da loja? E quais as produtos 
com piores desempenho?

2. Os produtos com melhor desempanho possuem alguma caracter√≠stica em comum?

3. Onde a loja deve investir mais em marketing pensando em ter mais retorno financeiro?

4. Vale mais a pena invertir em novos usu√°rios ou em campanhas para usu√°rios antigos?

5. Existe um padr√£o de venda por faixa et√°ria?

6. O gerente geral da Data Corporation decidiu abrir opera√ß√£o de lojas fisicas em quatro cidades. Quais cidades voc√™ indicaria baseado no hist√≥rico de compras?

7. Para abrir a opera√ß√£o de lojas fisicas o gerante tamb√©m precisa decidir qual categoria ele deve investir, pensando em retorno financeiro. Al√©m disso ele gostaria de indica√ß√µes de produtos que possam alanvancar as vendas nos primeiros 6 meses. A proposta √© que a abertura aconte√ßa nos meses de janeiro e fevereiro. Qual seria sua indica√ß√£o?


**N√£o fique preso nas perguntas acima, novos insights s√£o sempre bem vindos!**

1- Os 3 produtos com melhor desempenho s√£o o Microondas 35L, a Mochila Targus e o SPA Intel 700L. Os 3 com piores desempenho em vendas s√£o a Bicicleta Caloi Aro 29, o Umidificador de Ar Cadence e a Blusa Lacoste.

2- Os produtos com melhor desempenho em vendas n√£o concentram-se em uma categoria em espec√≠fico, por√©m se analisarmos a faixa de pre√ßo, avaliada em quartis, o top 2 est√° localizado no 3¬∞ quartil, ou seja, da base de produtos √© o segundo agrupamento mais barato. J√° a terceira, quarta e quinta posi√ß√£o est√£o agrupados no 1¬∫ quartil.

3- Pensando em maior retorno financeiro, com base no valor total gerado por estado (j√° que n√£o leva em considera√ß√£o a implementa√ß√£o de loja f√≠sica), √© interessante investir em campanhas no estado de Minas gerais, Santa Catarina e Rio Grande do Norte. Por outro lado, se considerarmos tambem a quantidade de produtos vendidos desses estados com maior retorno financeiro, temos que dos top(10)valores x Low(10)quantidade de vendas, os estados de Mato Grosso, Rio Grande do Norte e Goi√°s lucram muito sem saturar o mercado. Logo, poderiam vender muito mais e destacar em faturamento.

4- Para definir se um usu√°rio √© novo ou antigo, como n√£o h√° informa√ß√£o da data "atual" de extra√ß√£o da base, defini os usuarios antigos como ate o percentil 75% de acordo com a data de cadastro. Para saber qual √© o tipo mais rent√°vel foi realizado o c√°lculo de ticket m√©dio. O resultado foi que os clientes antigos tem um ticket m√©dio maior do que os clientes mais novos, logo, se comprarem mais,ter√° um retorno financeiro maior para a empresa.

5- 35,73% da quantidade de vendas total est√° concentrado nas faixas et√°rias de 50 a 61 anos e 22 a 27 anos. Ent√£o, o marketing da empresa poderia se difundir para estrat√©gias tanto para os grupos de jovens adultos e velhos adultos. 

6- Para inaugurar uma loja f√≠sica √© interessante avaliar no contexto de lugar espec√≠fico, a quantidade de vendas e o faturamento total. Partindo das cidades com maior quantidade de vendas temos Montes Altos, Bom Sucesso do Sul e Lagoa de Velhos que s√£o o top 3 e ainda est√£o entre o top 7 de maiores receitas.

7- A categoria de Lazer √© sem d√∫vidas a mais rent√°vel para a empresa em todo o cen√°rio historico da base. Para alavancar os resultados nos primeiros 6 meses pode-se manter os meses planejados uma vez que nao foi identificado sazonalidade no faturamento, pelo contr√°rio, as vendas vem crescendo de forma exponencial desde o seu in√≠cio.

Como Sugest√£o adicional, a tomada de decis√£o presente nas perguntas carenciam de informa√ß√£o de custo do produto vendido e assim analisarmos tamb√©m a margem de contribui√ß√£o quando escolhemos por exemplo a categoria do produto.